body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  #input-container label {
    width: 120px;
    text-align: right;
  }
  
  #timetable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #timetable td, #timetable th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  #timetable th:first-child, #timetable td:first-child {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  